- charts:
  - clusters:
    - demo-cluster-1
    configuration:
      values:
        Component: tensorflow-inception
        ContainerPort: 9090
        Image: quay.io/lachie83/inception_serving
        ImagePullPolicy: IfNotPresent
        ImageTag: latest
        Replicas: 1
        Resources:
          limits:
            cpu: 100m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 256Mi
        ServicePort: 9090
        ServiceType: LoadBalancer
    name: tensorflow-inception
    src: https://github.com/lsheiba/charts/incubator/tensorflow-inception
    version: 0.1.1
  name: inception
