- charts: []
  name: tf-vebon
- charts:
  - clusters:
    - minikube-ls
    configuration:
      values:
        cpu:
          limits: 100m
          requests: 25m
        image:
          Name: lsheiba/tensorflow-ls-devel-gpu
          Tag: latest
        memory:
          limits: 2048Mi
          requests: 64Mi
        persistence:
          accessMode: ReadWriteOnce
          enabled: true
          size: 1Gi
        replicas: 1
        serviceType: ClusterIP
    name: tfj-v3
    src: https://github.com/lsheiba/tfj-v3/
    version: 1.0.0
  name: tfj-v3
